{% extends './base.html' %}
{% load static %}

{% block title %}{{product.title}}{% endblock title %}

{% block content %}
    <div>
        <img src="{{product.image.url}}" alt="{{product.title}}" width="450">
        <h3 class="product-category">{{product.category}}</h3>
        <h1>{{product.title}}</h1>
        <p>{{product.description  | linebreaks}}</p>
        {% if product.in_stock %}
            <h5 class="in-stock">موجود در انبار<h5>
        {% else %}
            <h5 class="out-stock">نا موجود<h5>
        {% endif %}
        <h3 class="product-price">قیمت {{product.fprice}}</h3>
    </div>
{% endblock content %}