{% extends './base.html' %}
{% load static %}

{% block title %}All Products{% endblock title %}

{% block content %}
    <center>
        {% for product in products %}
            <div>
                <br><br>
                <a target='_blank' href="{% url 'shop:detail' product.slug %}"><img src="{{product.image.url}}" alt="{{product.title}}" width="250"></a>
                <h2><a class="product-title" href="{% url 'shop:detail' product.slug %}">{{product.title}}</a></h2>
                <p class="product-desc">{{product.description | linebreaks | truncatewords:16}}</p>
                <h3 class="product-price">قیمت {{product.fprice}}</h3>
                {% if product.in_stock %}
                    <h4 class="in-stock">موجود در انبار<h4>
                {% else %}
                    <h4 class="out-stock">نا موجود<h4>
                {% endif %}
            </div>
        {% endfor %}
    </center>
{% endblock content %}